%text-property {
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 400;
}

%icon-property {
  width: 24px;
  margin-right: 16px;

  &::before {
    font-size: 24px;
  }
}

%line-property {
  position: absolute;
  content: '';
  width: 1px;
  left: 11px;
}

.component {
  font-family: Roboto, tabler-icons-ext;
  background: #fff;
  border-radius: 7px;
  position: relative;
  flex: 0 0 30%;
  margin-top: 16px;
}

.block {
  font-family: Roboto, tabler-icons-ext;
  background: #fff;
  border-radius: 7px;
  position: relative;
}

.side {
  flex: 0 0 30%;
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.subtitle {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.grayText {
  @extend %text-property;
  line-height: 24px;
  color: #94979e;
}

.blackText {
  @extend %text-property;
  line-height: 18px;
  color: #18191b;
}

.orangeText {
  @extend %text-property;
  line-height: 18px;
  color: #d49700;
}

.iconPlus {
  @extend %icon-property;
  margin-top: -13px;
  color: #339944;
}

.iconCheck {
  @extend %icon-property;
  margin-top: -36px;
  color: #339944;
}

.iconClock {
  @extend %icon-property;
  margin-top: -18px;
  color: #d49700;
}

.linePlus {
  @extend %line-property;
  height: 34px;
  top: 40px;
  background: #d9f2dd;
}

.lineCheck {
  @extend %line-property;
  height: 52px;
  top: 41px;
  background: #d9f2dd;
}

.lineClock {
  @extend %line-property;
  height: 34px;
  top: 37px;
  background: #fff3cc;
}
