.addFile {
    padding: 15px 0;

    & .button {
        display: flex;
        align-items: center;
        &>i {
            font-size: 24px;
            margin-right: 6px;
        } 
    }
    
}    

