@import "~@ff/ui-kit/lib/styles/scss/fns/colors";
$minor-font-color: #797D86;
$line: rgb(126, 126, 126);

.document {
    display: flex;
    justify-content: space-between;

    &__main {
        flex: 0 0 69%;
    }

    &__side {
        flex: 0 0 30%;
    }
}


.block {
    background: #fff;
    border-radius: 7px;
    padding: 0 30px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        height: 1px;
        background: $line;
    }

    &__container {
        width: 100%;   
    }
    &__row {
        display: flex;
        align-items: center;
        padding: 15px 0;

        &>* {
            margin-right: 14px;
        }
        & :last-child {
            margin-right: 0;
        }

        &_head {
            height: 80px;
        }

        &_edge {
            justify-content: space-between;
            width: 100%;
        }
        &_underline {
            border-bottom: 1px solid $line;
        };
        &_mrb {
            margin-bottom: 20px;
        }
    }
}

.minorfont {
    color: $minor-font-color;
    font-size: 14px;
}

.version {
    position: relative;

    &__title {
        line-height: 32px;
        font-size: 24px;
        font-weight: 700;
    }
}


.subtitle {
    font-size: 20px;
    line-height: 24px;  
    font-weight: 700;
}


.buttons_row {
    font-size: 14px;

    &>*{
        margin-right: 8px;
    }
    & :last-child {
        margin: 0;
    }
}
.button_with_icon {
    display: flex;
    align-items: center;

    &>i {
        font-size: 24px;
        margin-right: 6px;
    }
}

.status {
    padding: 2px 8px;
    border-radius: 4px;
    display: flex; 
    align-items: center;
    &>i {
        margin-right: 6px;
    }

    &_draft {
       background: $base-color-100;
    }
    &_agreed {
        color: $success-dark-color;
        background: $success-light-color;
    }
    &_process {
        color: $warning-main-color;
        background: $warning-light-color;
    }
    
}



.field_width_30{
    width: 30%;
}
.field_width_50{
    width: 50%;
}