@font-face {
    font-family: "tabler-icons-ext";
    src: url("./tabler-icons-ext.ttf?dbb631e3d34ecde1eb7f7b4272168fd2") format("truetype");
}

i{
    display: flex;
    width: fit-content;
}
i[class^="sr-"]:before, i[class*=" sr-"]:before {
    font-family: tabler-icons-ext !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sr-0001-adjustments-alt:before {
    content: "\f101";
}
.sr-0002-adjustments-horizontal:before {
    content: "\f102";
}
.sr-0003-adjustments:before {
    content: "\f103";
}
.sr-0004-arrow-down:before {
    content: "\f104";
}
.sr-0005-arrow-up:before {
    content: "\f105";
}
.sr-0006-arrows-down-up:before {
    content: "\f106";
}
.sr-0007-chevron-down:before {
    content: "\f107";
}
.sr-0008-circle-check:before {
    content: "\f108";
}
.sr-0009-circle-minus:before {
    content: "\f109";
}
.sr-0010-circle-plus:before {
    content: "\f10a";
}
.sr-0011-circle-x:before {
    content: "\f10b";
}
.sr-0012-clock:before {
    content: "\f10c";
}
.sr-0013-discount:before {
    content: "\f10d";
}
.sr-0014-download:before {
    content: "\f10e";
}
.sr-0015-edit-circle:before {
    content: "\f10f";
}
.sr-0016-edit:before {
    content: "\f110";
}
.sr-0017-flask:before {
    content: "\f111";
}
.sr-0018-forbid-2:before {
    content: "\f112";
}
.sr-0019-golf:before {
    content: "\f113";
}
.sr-0020-math-function:before {
    content: "\f114";
}
.sr-0021-pennant:before {
    content: "\f115";
}
.sr-0022-photo:before {
    content: "\f116";
}
.sr-0023-pin:before {
    content: "\f117";
}
.sr-0024-pinned-off:before {
    content: "\f118";
}
.sr-0025-pinned:before {
    content: "\f119";
}
.sr-0026-search:before {
    content: "\f11a";
}
.sr-0027-settings:before {
    content: "\f11b";
}
.sr-0028-sort-ascending-2:before {
    content: "\f11c";
}
.sr-0029-sort-ascending-letters-ab:before {
    content: "\f11d";
}
.sr-0030-sort-descending-2:before {
    content: "\f11e";
}
.sr-0031-sort-descending-letters-ba:before {
    content: "\f11f";
}
.sr-0032-sort-down:before {
    content: "\f120";
}
.sr-0033-sort-up:before {
    content: "\f121";
}
.sr-0034-switch-vertical:before {
    content: "\f122";
}
.sr-0035-tag:before {
    content: "\f123";
}
.sr-0036-toggle-left:before {
    content: "\f124";
}
.sr-0037-toggle-right:before {
    content: "\f125";
}
.sr-0038-upload:before {
    content: "\f126";
}
.sr-0039-x:before {
    content: "\f127";
}
.sr-0040-tools:before {
    content: "\f128";
}
.sr-0041-layout-2:before {
    content: "\f129";
}
.sr-0042-layout-align-bottom:before {
    content: "\f12a";
}
.sr-0043-layout-align-center:before {
    content: "\f12b";
}
.sr-0044-layout-align-left:before {
    content: "\f12c";
}
.sr-0045-layout-align-middle:before {
    content: "\f12d";
}
.sr-0046-layout-align-right:before {
    content: "\f12e";
}
.sr-0047-layout-align-top:before {
    content: "\f12f";
}
.sr-0048-layout-bottombar:before {
    content: "\f130";
}
.sr-0049-layout-cards:before {
    content: "\f131";
}
.sr-0050-layout-columns:before {
    content: "\f132";
}
.sr-0051-layout-distribute-horizontal:before {
    content: "\f133";
}
.sr-0052-layout-distribute-vertical:before {
    content: "\f134";
}
.sr-0053-layout-grid-add:before {
    content: "\f135";
}
.sr-0054-layout-grid:before {
    content: "\f136";
}
.sr-0055-layout-kanban:before {
    content: "\f137";
}
.sr-0056-layout-list:before {
    content: "\f138";
}
.sr-0057-layout-navbar:before {
    content: "\f139";
}
.sr-0058-layout-rows:before {
    content: "\f13a";
}
.sr-0059-layout-sidebar-right:before {
    content: "\f13b";
}
.sr-0060-layout-sidebar:before {
    content: "\f13c";
}
.sr-0061-layout:before {
    content: "\f13d";
}
.sr-0062-transparent:before {
    content: "\f13e";
}
.sr-0063-chevron-left:before {
    content: "\f13f";
}
.sr-0064-chevron-right:before {
    content: "\f140";
}
.sr-0065-chevron-up:before {
    content: "\f141";
}
.sr-0066-filter-off:before {
    content: "\f142";
}
.sr-0067-filter:before {
    content: "\f143";
}
.sr-0068-folder-minus:before {
    content: "\f144";
}
.sr-0069-folder-off:before {
    content: "\f145";
}
.sr-0070-folder-plus:before {
    content: "\f146";
}
.sr-0071-folder-x:before {
    content: "\f147";
}
.sr-0072-folder:before {
    content: "\f148";
}
.sr-0073-folders:before {
    content: "\f149";
}
.sr-0074-table-export:before {
    content: "\f14a";
}
.sr-0075-table-import:before {
    content: "\f14b";
}
.sr-0076-table-off:before {
    content: "\f14c";
}
.sr-0077-table:before {
    content: "\f14d";
}
.sr-0078-bell-minus:before {
    content: "\f14e";
}
.sr-0079-bell-off:before {
    content: "\f14f";
}
.sr-0080-bell-plus:before {
    content: "\f150";
}
.sr-0081-bell-ringing-2:before {
    content: "\f151";
}
.sr-0082-bell-ringing:before {
    content: "\f152";
}
.sr-0083-bell-x:before {
    content: "\f153";
}
.sr-0084-bell:before {
    content: "\f154";
}
.sr-0085-user-check:before {
    content: "\f155";
}
.sr-0086-user-exclamation:before {
    content: "\f156";
}
.sr-0087-user-minus:before {
    content: "\f157";
}
.sr-0088-user-off:before {
    content: "\f158";
}
.sr-0089-user-plus:before {
    content: "\f159";
}
.sr-0090-user-x:before {
    content: "\f15a";
}
.sr-0091-user:before {
    content: "\f15b";
}
.sr-0092-users:before {
    content: "\f15c";
}
.sr-0093-refresh-alert:before {
    content: "\f15d";
}
.sr-0094-refresh:before {
    content: "\f15e";
}
.sr-0095-chart-arcs-3:before {
    content: "\f15f";
}
.sr-0096-chart-arcs:before {
    content: "\f160";
}
.sr-0097-chart-area-line:before {
    content: "\f161";
}
.sr-0098-chart-area:before {
    content: "\f162";
}
.sr-0099-chart-arrows-vertical:before {
    content: "\f163";
}
.sr-0100-chart-arrows:before {
    content: "\f164";
}
.sr-0101-chart-bar:before {
    content: "\f165";
}
.sr-0102-chart-bubble:before {
    content: "\f166";
}
.sr-0103-chart-candle:before {
    content: "\f167";
}
.sr-0104-chart-circles:before {
    content: "\f168";
}
.sr-0105-chart-donut-2:before {
    content: "\f169";
}
.sr-0106-chart-donut-3:before {
    content: "\f16a";
}
.sr-0107-chart-donut-4:before {
    content: "\f16b";
}
.sr-0108-chart-donut:before {
    content: "\f16c";
}
.sr-0109-chart-dots:before {
    content: "\f16d";
}
.sr-0110-chart-infographic:before {
    content: "\f16e";
}
.sr-0111-chart-line:before {
    content: "\f16f";
}
.sr-0112-chart-pie-2:before {
    content: "\f170";
}
.sr-0113-chart-pie-3:before {
    content: "\f171";
}
.sr-0114-chart-pie-4:before {
    content: "\f172";
}
.sr-0115-chart-pie:before {
    content: "\f173";
}
.sr-0116-chart-radar:before {
    content: "\f174";
}
.sr-0117-arrow-left:before {
    content: "\f175";
}
.sr-0118-arrow-right:before {
    content: "\f176";
}
.sr-0119-alert-circle:before {
    content: "\f177";
}
.sr-0120-alert-octagon:before {
    content: "\f178";
}
.sr-0121-alert-triangle:before {
    content: "\f179";
}
.sr-0122-pencil:before {
    content: "\f17a";
}
.sr-0123-row-insert-bottom:before {
    content: "\f17b";
}
.sr-0124-row-insert-top:before {
    content: "\f17c";
}
.sr-0125-calendar-event:before {
    content: "\f17d";
}
.sr-0126-calendar-minus:before {
    content: "\f17e";
}
.sr-0127-calendar-off:before {
    content: "\f17f";
}
.sr-0128-calendar-plus:before {
    content: "\f180";
}
.sr-0129-calendar-stats:before {
    content: "\f181";
}
.sr-0130-calendar-time:before {
    content: "\f182";
}
.sr-0131-calendar:before {
    content: "\f183";
}
.sr-0132-trash-off:before {
    content: "\f184";
}
.sr-0133-trash:before {
    content: "\f185";
}
.sr-0134-link:before {
    content: "\f186";
}
.sr-0135-unlink:before {
    content: "\f187";
}
.sr-0136-file-alert:before {
    content: "\f188";
}
.sr-0137-file-analytics:before {
    content: "\f189";
}
.sr-0138-file-certificate:before {
    content: "\f18a";
}
.sr-0139-file-check:before {
    content: "\f18b";
}
.sr-0140-file-code-2:before {
    content: "\f18c";
}
.sr-0141-file-code:before {
    content: "\f18d";
}
.sr-0142-file-diff:before {
    content: "\f18e";
}
.sr-0143-file-dislike:before {
    content: "\f18f";
}
.sr-0144-file-download:before {
    content: "\f190";
}
.sr-0145-file-export:before {
    content: "\f191";
}
.sr-0146-file-horizontal:before {
    content: "\f192";
}
.sr-0147-file-import:before {
    content: "\f193";
}
.sr-0148-file-info:before {
    content: "\f194";
}
.sr-0149-file-invoice:before {
    content: "\f195";
}
.sr-0150-file-like:before {
    content: "\f196";
}
.sr-0151-file-minus:before {
    content: "\f197";
}
.sr-0152-file-music:before {
    content: "\f198";
}
.sr-0153-file-off:before {
    content: "\f199";
}
.sr-0154-file-phone:before {
    content: "\f19a";
}
.sr-0155-file-plus:before {
    content: "\f19b";
}
.sr-0156-file-report:before {
    content: "\f19c";
}
.sr-0157-file-search:before {
    content: "\f19d";
}
.sr-0158-file-shredder:before {
    content: "\f19e";
}
.sr-0159-file-symlink:before {
    content: "\f19f";
}
.sr-0160-file-text:before {
    content: "\f1a0";
}
.sr-0161-file-upload:before {
    content: "\f1a1";
}
.sr-0162-file-x:before {
    content: "\f1a2";
}
.sr-0163-file-zip:before {
    content: "\f1a3";
}
.sr-0164-file:before {
    content: "\f1a4";
}
.sr-0165-files-off:before {
    content: "\f1a5";
}
.sr-0166-files:before {
    content: "\f1a6";
}
