.component {
  background-color: #fff;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 16px;
}
.title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  color: #18191b;
  line-height: 32px;
}
.button {
  display: flex;
  span {
    font-family: Roboto;
    font-size: 16px;
    color: #0057ff;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
